@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Contraseña nueva";
}
<head>
    <link rel="stylesheet" href="~/css/ConfirmEmail.css" />
</head>



@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@

<div class="cambio-mail">
    <h2 class="titulo">@ViewData["Title"]</h2>
    <hr />
    <div class="col-md-4">
        <section>
        <form method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input asp-for="Input.Email" type="hidden" />*@
            <div class="form-group">
                <input asp-for="Input.Email" type="hidden" value="@ViewData["mail"]"/>
                <p><b>Email: @ViewData["mail"]</b></p>
               @* <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>*@
            </div>
                <div class="form-group">
                <label asp-for="Input.Password" class="form-label"><b>Contraseña</b></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="form-label"><b>Repetir Contraseña</b></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
                <button id="login-submit"  type="submit" class="w-100 btn btn-lg btn-primary">Aceptar</button>
        </form>
        </section>
    </div>
</div>
